.topIGContainer {
  width: 100%;
  height: 74px;
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;

  .topBar {
    padding: 1rem;
    height: 48px;
    background: linear-gradient(
      to bottom,
      #ffffff66,
      var(--base-container-background-color)
    );
    border: 1px solid #ffffffaa;
    box-shadow: 0 2px 4px hsla(251, 50%, 32%, 0.04),
      0 6px 12px -2px hsla(251, 50%, 32%, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
}

main {
  .bodyTextBotBarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 74px);
    max-height: calc(100vh - 74px);
    row-gap: 12px;

    #workflowContainer {
      .node {
        height: 150px;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        width: fit-content;
      }

      .handle {
        position: relative;
        top: 16px;
      }

      .label {
        text-align: left;
        margin-left: 10px;
        color: white;
        font-weight: 600;
      }
    }
  }

  textarea.positivePrompt {
    background: #fcfcfe;
    height: 150px;
    min-height: 150px;
  }

  .progressSendContainer {
    flex: 0 0 48px;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;

    button.sendButton {
      height: 100%;
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0.15) 50%
        ),
        var(--purple-button-color);
      color: #fff;
      font-weight: 500;
      width: 200px;
      flex-shrink: 0;

      &:hover {
        background: var(--purple-button-hover-background-color);
        border: 1px solid var(--purple-button-hover-border-color);
        box-shadow: 0 2px 0px #fff;
      }
    }

    .progressBarContainer {
      display: flex;
      flex: 1 1 100%;
      height: 100%;
      align-items: center;
      background: hsl(245, 20%, 43%);
      border: 1px solid hsl(245, 23%, 58%);
      box-shadow: 0 1px 0px #fff, inset 0 1px 4px #00000077;
      width: 100%;
      border-radius: 6px;
      color: #fff;
      overflow: hidden;

      .progressBar {
        width: 50%;
        height: 100%;
        background: url("../assets/progressstripes.png"),
          var(--purple-button-color);
        /*linear-gradient(to bottom, #39f8cf, #39f8f8);*/
        background-repeat: repeat-x;
        background-size: auto 100%;
        animation: moveBackground 15s linear infinite;
        box-shadow: inset 0 1px 3px #ffffff55, inset 0 -1px 4px #00000055,
          3px 0 6px #6d48c155;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.react-flow {
  /* Custom Variables */
  --xy-theme-selected: rgb(96 165 250);
  --xy-theme-hover: #c5c5c5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #e8e8e8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ffffff;
  --xy-node-background-color-default: #fefefe;

  --xy-node-boxshadow-default: 0px 1px 2px 0px hsla(245, 10%, 50%, 15%),
    0px 4px 8px 0px hsla(245, 20%, 50%, 10%);

  --xy-node-border-radius-default: 4px;

  --xy-handle-background-color-default: #373737;
  --xy-handle-border-color-default: #373737;

  --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
  --xy-node-boxshadow-default: 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
    /* light shadow */ 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
    /* medium shadow */ 0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2); /* smallest shadow */
  --xy-theme-color-focus: #535353;
}

/* Customizing Default Theming */

.react-flow__node {
  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display: flex;
  font-size: 12px;
  flex-direction: column;
  border: none;
  color: var(--xy-node-color, var(--xy-node-color-default));

  .nodeTitle {
    display: flex;
    height: 28px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(258, 45%, 45%);
    margin-bottom: 10px;
    background-color: hsl(258, 45%, 55%);
    font-weight: 500;
    padding: 1px 10px 0px 10px;
    border-radius: 4px 4px 0 0;
    color: #fff;
  }

  input {
    height: 25px;
    font-size: 12px;
    background-color: #dee3ef66;
    border-color: #dee3ef99;
    box-shadow: none;
    margin: 0 10px;
    padding: 0 5px;

    &:focus {
      outline-width: 0;
    }
  }
}
/*
.react-flow__node.selectable:focus {
  box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
  border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
  border-color: var(--xy-theme-hover);
}

.react-flow__node.selectable.selected {
  border-color: var(--xy-theme-selected);
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-group {
  background-color: rgba(207, 182, 255, 0.4);
  border-color: #9e86ed;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--xy-theme-edge-hover);
}

.react-flow__handle {
  background-color: var(--xy-handle-background-color-default);
}

.react-flow__handle.connectionindicator:hover {
  pointer-events: all;
  border-color: var(--xy-theme-edge-hover);
  background-color: white;
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
  border-color: var(--xy-theme-edge-hover);
}

.react-flow__node-resizer {
  border-radius: 0;
  border: none;
}

.react-flow__resize-control.handle {
  background-color: #ffffff;
  border-color: #9e86ed;
  border-radius: 0;
  width: 5px;
  height: 5px;
}*/
